@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.card {
  -webkit-clip-path: polygon(
    0 10%,
    5% 0,
    95% 0,
    100% 0,
    100% 90%,
    95% 100%,
    0% 100%,
    0% 90%,
    0% 10%
  );
  clip-path: polygon(
    0 10%,
    5% 0,
    95% 0,
    100% 0,
    100% 90%,
    95% 100%,
    0% 100%,
    0% 90%,
    0% 10%
  )
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}